---
import Layout from "@/layouts/Layout.astro";
import PostsList from "@/components/posts/PostsList.astro";
---

<Layout title="Blogger">
    <main class="flex flex-col gap-0 pb-10">
        <PostsList />
    </main>
</Layout>
