---
import Post from "@/components/posts/Post";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { actions } from "astro:actions";

const { xid } = Astro.params;

const { lang, t } = useTranslations(Astro.url);

if (xid === undefined) {
    return Astro.redirect("/" + lang);
}

const { data, error } = await Astro.callAction(actions.posts.getAPost, xid);

if (error) {
    return Astro.redirect("/" + lang);
}
---

<Layout
    title={"Post from " + t("post.title", data.createdBy)}
    description={data.post}
>
    <div
        class="flex flex-col gap-0 pb-10 max-w-4xl w-full self-center"
        transition:name="post"
    >
        <Post post={data} url={Astro.url} client:only="react" />
    </div>
</Layout>
